#welcome {
    margin: 50px;
}


#menu {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #7FBAE0;
}

#menu div {
    display: inline-block;
}

.nav {
    margin: 0;
    padding: 5px;
    background-color: #7FBAE0;
    color: black;
    text-decoration: none;
    border-right: 1px solid black;
    font-weight: bold;
}

.nav:hover {
    background-color: whitesmoke;
}

a {
    text-decoration: none ;
 }

 a:visited {
    text-decoration: none;
}

#username{
    padding: 5px;
    color: black;
} 

#profile {
    margin-left: 20px;
    font-weight: bold;
}

img {
    max-height: 194px;
    max-width: 194px;
    padding: 3px;
}

#notifications {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    margin: 1em;
}

.notification {
    color: #ffffff;
    text-align: right;
}

.notification>span {
    display: inline-block;
    padding:  0.5em 2em 0.5em 2em;
    border-radius: 10px;
}

#loadingBox>span {
    background: #7CB3E9;
}
#infoBox>span {
    background: #393;
}
#errorBox>span {
    background: #F50;
}

#home-welcome{
    text-align: left;
    text-shadow: 1px 1px #7FBAE0;
}

.product-home{
    display: inline-block;
    margin: 5px;
    border: solid #7FBAE0;
    background-color: aliceblue;
    width: 200px;
    height: 240px;
}

.product{
    display: inline-block;
    margin: 5px;
    border: solid #7FBAE0;
    background-color: aliceblue;
    width: 200px;
    height: 320px;
}

.product-details {
    display: inline-block;
    margin: 5px;
    border: solid #7FBAE0;
    background-color: aliceblue;
    max-width: 90%;
    max-height: 90%;
    padding: 10px;
}

.title-details {
    padding: 10px;
    font-weight: 60;
}
.title-details .tit, .prc {
    font-weight: 60;
    font-size: 25px;
}

.thumbnail {
    width: 200px;
    height: 200px;
}

.action {
    background-color: #7FBAE0; 
    border: none;
    color: white;
    margin: 1px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
    width: 70px;
    text-shadow: 1px 1px black;
}
.btn-buy {
    background-color: #393;
}
.btn-delete {
    background-color: #F50;
}

.btn-edit {
    background-color: rgb(99, 126, 145);
}

.btn-back {
    background-color: rgb(154, 156, 156);
}

.title {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.category-name {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    text-align: left;
}

.category-controls {    
    float: right;
    padding: 5px;
    margin-top: -7px;
}

.category {
    display: block;
    text-align: left;
    margin: 10px;
    padding: 5px;
    border: #7CB3E9 solid;
    
}

#viewCategories{
    display: absolute;
    justify-content: center;
}

.no-prod-mess {
    font-weight: 600;
    margin-top: 100px;
    color: #BB0000;
}

form {
    text-align: left;
}

label{
    padding: 5px;
}

input, select {
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 300px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    display: block;
}
